altair
attrs
blinker
branca
cachetools
certifi
charset-normalizer
click
cycler
decorator
folium
fonttools
fpdf
gitdb
GitPython
idna
importlib-metadata
importlib-resources
jinja2
jsonschema
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
packaging
pandas
Pillow
pkgutil-resolve-name
protobuf
pyarrow
pydeck
pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
requests
rich
seaborn
six
smmap
streamlit
streamlit-folium
tenacity
toml
toolz
tornado
typing-extensions
tzdata
tzlocal
urllib3
validators
xyzservices
zipp
